@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  background-color: #d8bfd8;
  text-align: center;
  font-family: 'Lato', Helvetica, sans-serif;
  min-width: 320px;
}

header {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}

#form-outer {
  padding: 10px;
  background: white;
  max-width: 900px;
  margin: 0px auto;
  border-radius: 20px;
  width: 75%;
}

.labels {
  display: inline-block;
  text-align: right;
  margin: 10px;
  width: 40%;
  padding: 5px;
  vertical-align: top;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 45%;
  vertical-align: middle;
}

.input-field {
  margin: 10px;
  height: 20px;
  width: 280px;
  padding: 5px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.userRating, input[type="checkbox"] {
  float: left;
  margin-right: 10px;
}

#submit {
  background: #59ace0;
  border: 0px solid ;
  border-radius: 5px;
  color: white;
  margin: 10px;
  height: 40px;
  width: 90px;
  font-size: 1em;
}

.dropdown {
  height: 35px;
  width: 135px;
  padding: 5px;
  margin: 15px 10px 10px 10px;
  border-radius: 5px;
}

.radio, .checkbox {
  position: relative;
  left: -45px;
  margin-left: 10px;
  display: block;
  padding: 5px;
}